{% extends 'base.html' %}

{% block title %}Computers{% endblock %}

{% block header %}
<h3 class="text-dark mb-4">Computers</h3>
{% endblock %}

{% block content %}
<div class="card shadow">
  <div class="card-header py-3">
    <p class="text-primary m-0 font-weight-bold">Computers Info</p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 text-nowrap">
      </div>
    </div>
    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
      <table class="table my-0" id="dataTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Computer</th>
            <th>Username</th>
	    <th></th>
          </tr>
        </thead>
        <tbody>
	  {% for client in clients %}
          <tr id="client{{ client.id }}">
            <td>{{ client.id }}</td>
            <td>{{ client.computer }}</td>
            <td>{{ client.username }}</td>
	    <td><a class="text-danger deleteButton" data-uuid="{{ client.id }}"><i class="fas fa-times-circle"></i></a></td>
          </tr>
	  {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md align-self-end">
        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
          <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<span>Do you really want to delete this client?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="deleteConfirmButton"><i class="fas fa-times"></i>&nbsp;Delete</button>
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  var deleteID;
  $('.deleteButton').click(function() {
      $('#deleteModal').modal('toggle');
      deleteID = this.dataset.uuid;
  });

  
  $('#deleteConfirmButton').click(function() {
      var data = new FormData();
      data.append('id', deleteID);

      $.ajax({
	  url: '/computer/delete',
	  data: data,
	  processData: false,
	  contentType: false,
	  type: 'POST',
	  success: function () {
	      $('#client' + deleteID).remove();
	  }
      });
      $('#deleteModal').modal('toggle');
  });
</script>
{% endblock %}
