{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block header %}
<h3 class="text-dark mb-0">{% translate "Dashboard" %}</h3>
<a class="btn btn-primary btn-sm d-none d-sm-inline-block disabled" role="button" href="#">
  <i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report
</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card shadow border-left-primary py-2">
      <div class="card-body">
        <div class="row align-items-center no-gutters">
          <div class="col mr-2">
            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>{% translate "Computers connected" %}</span></div>
            <div class="text-dark font-weight-bold h5 mb-0"><span>{{ computers_connected }}</span></div>
          </div>
          <div class="col-auto"><i class="fas fa-laptop fa-2x text-gray-300"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card shadow border-left-success py-2">
      <div class="card-body">
        <div class="row align-items-center no-gutters">
          <div class="col mr-2">
            <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>{% translate "Modules loaded" %}</span></div>
            <div class="text-dark font-weight-bold h5 mb-0"><span>0</span></div>
          </div>
          <div class="col-auto"><i class="fas fa-paperclip fa-2x text-gray-300"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card shadow border-left-info py-2">
      <div class="card-body">
        <div class="row align-items-center no-gutters">
          <div class="col mr-2">
            <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>{% translate "Online now" %}</span></div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
		{% if connected_precentage != -1 %}
                <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span>{{ connected_precentage }}%</span></div>
		{% else %}
		<div class="text-gray h5 mb-0 mr-3"><span>{% translate "No clients" %}</span></div>
		{% endif %}
              </div>
	      {% if connected_precentage != -1 %}
              <div class="col">
                <div class="progress progress-sm">
                  <div class="progress-bar bg-info" aria-valuenow="{{ connected_precentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ connected_precentage }}%;"><span class="sr-only">{{ connected_precentage }}%</span></div>
                </div>
              </div>
	      {% endif %}
            </div>
          </div>
          <div class="col-auto"><i class="fas fa-globe fa-2x text-gray-300"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3 mb-4">
    <div class="card shadow border-left-warning py-2">
      <div class="card-body">
        <div class="row align-items-center no-gutters">
          <div class="col mr-2">
            <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>{% translate "Pending tasks" %}</span></div>
            <div class="text-dark font-weight-bold h5 mb-0"><span>0</span></div>
          </div>
          <div class="col-auto"><i class="fas fa-tasks fa-2x text-gray-300"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-5 col-xl-4">
    <div class="card shadow mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="text-primary font-weight-bold m-0">{% translate "Computers" %}</h6>
      </div>
      <div class="card-body">
	{% if computers_online == 0 and computers_offline == 0 %}
	<h1>No computers</h1>
	{% else %}
        <div class="chart-area"><canvas data-bs-chart="{&quot;type&quot;:&quot;doughnut&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Online&quot;, &quot;Offline&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;&quot;,&quot;backgroundColor&quot;:[&quot;#41b3a3&quot;,&quot;#e27d60&quot;],&quot;borderColor&quot;:[&quot;#ffffff&quot;,&quot;#ffffff&quot;],&quot;data&quot;:[&quot;{{ computers_online }}&quot;,&quot;{{ computers_offline }}&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:true, &quot;position&quot;: &quot;bottom&quot;},&quot;title&quot;:{}}}"></canvas></div>
	{% endif %}
      </div>
    </div>
  </div>
  
  <div class="col-lg-5 col-xl-4">
    <div class="card shadow mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="text-primary font-weight-bold m-0">{% translate "Tasks" %}</h6>
      </div>
      <div class="card-body">
	{% if tasks_pending == 0 and tasks_finished == 0 %}
	<h1>No tasks</h1>
	{% else %}
        <div class="chart-area"><canvas data-bs-chart="{&quot;type&quot;:&quot;doughnut&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Pending&quot;, &quot;Finished&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;&quot;,&quot;backgroundColor&quot;:[&quot;#41b33a&quot;,&quot;#2e7d60&quot;],&quot;borderColor&quot;:[&quot;#ffffff&quot;,&quot;#ffffff&quot;],&quot;data&quot;:[&quot;{{ tasks_pending }}&quot;,&quot;{{ tasks_finished }}&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:true, &quot;position&quot;: &quot;bottom&quot;},&quot;title&quot;:{}}}"></canvas></div>
	{% endif %}
      </div>
    </div>
  </div>


  <div class="col-lg-5 col-xl-4">
    <div class="card shadow mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="text-primary font-weight-bold m-0">{% translate "Last reports" %}</h6>
      </div>
      <div class="card-body">
	<table class="table my-0">
          <thead>
            <tr>
              <th>Computer</th>
              <th>Task</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
	</table>
      </div>
    </div>
  </div>


</div>
{% endblock %}
